<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Serviços</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <h1>Oficina Mecânica - Lava Car</h1>
    </div>
    <div class="col-8 m-auto pt-3 pb-2 text-center">
        <a href=" " class="btn btn-success">Adicionar</a>
        <a href="/" class="btn btn-danger">Voltar</a>
    </div>
    <div class="col-8 m-auto pt-3 pb-2 text-center">
        <form method="get">
            <input type="text" id="search" name="search" class="form-control" placeholder="Buscar...">
        </form>
      </div>
      <div class="col-8 m-auto pt-4 pb-2 text-center">
          <table class="table">
            <thead class="thead-dark">
              <tr>            
                <th scope="col">Nome</th>
                <th scope="col">Preço</th>
              </tr>
            </thead>
</body>
</html>

<title>Oficina Mecânica - Lava Car</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
